In [2]:
import pandas as pd

In [8]:
data = pd.read_csv("./data/SearchResults.csv")

In [9]:
data.head()

,Symbol,Scientific Name,Common Name
0,BAILE,Baileya Harv. & A. Gray ex A. Gray,desert marigold
1,BAMU,Baileya multiradiata Harv. & A. Gray ex A. Gray,desert marigold
2,BAPL3,Baileya pleniradiata Harv. & A. Gray ex A. Gray,woolly desert marigold
3,BIBE2,Bidens beckii Torr. ex Spreng.,Beck's water-marigold
4,CALEN,Calendula L.,marigold

In [10]:
data.shape

(32, 3)

In [17]:
data['Symbol']

0      BAILE
1       BAMU
2      BAPL3
3      BIBE2
4      CALEN
5       CAAR
6       CAOF
7      CALTH
8      CALE4
9     CALEH2
10    CALEL7
11    CALEL8
12    CALES4
13      CANA
14     CAPA5
15    CAPAP6
16    CAPAR3
17    CATR18
18    DIMOR3
19     DISI4
20      DYPA
21     NATA3
22     PIMA4
23     TAGET
24      TAER
25      TALE
26     TALU3
27      TAMI
28     TAMI2
29      TAPA
30     TAPU5
31     TIDI2
Name: Symbol, dtype: object